/*顶部开始*/
.header{
  width: 952px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
.header .headerLogo{
  width: 154px;
  height: 30px;
  background: url("../images/logo_db.png") no-repeat;
  position: absolute;
  left: 0px;
  top: 30px;
}
.header .search{
  width: 270px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 183px;
  border: 1px solid #c3c3c3;
  color: #e4e4e4;
  padding-left: 8px;
}
.header form p{
  width: 13px;
  height: 13px;
  background: url("../images/bn_srh_1.png") no-repeat;
  position: absolute;
  left: 430px;
  top: 38px;
}
.header ul{
  position: absolute;
  right: 0px;
  top:36px;
}
.header ul li{
  margin-left: 22px;
  float: left;
}
.header ul li a{
  display: inline-block;
  width: 45px;
  height: 23px;
}
.header ul li a.read{
  background: url("../images/anony_nav_logo4.png") no-repeat;
}
.header ul li a.movie{
  background: url("../images/anony_nav_logo4.png") no-repeat -60px 0px;
}.header ul li a.music{
   background: url("../images/anony_nav_logo4.png") no-repeat -121px 0px;
}.header ul li a.group{
    background: url("../images/anony_nav_logo4.png") no-repeat -180px 0px;
}
.header ul li a.FM{
      width:80px;
      background: url("../images/anony_nav_logo4.png") no-repeat -240px 0;
}
.header ul li a.sameCity{
       background: url("../images/anony_nav_logo4.png") no-repeat -340px 0;
}

/*顶部结束*/
/*登陆条开始*/
.login{
  height:90px;
  width: 100%;
  background-color: #e8edf1;
}
.login .content{
  width: 952px;
  height: 100%;
  margin:0 auto;
  position: relative;
}
.login .content .redBtn{
  display: block;
  font-size: 14px;
  width: 120px;
  height: 38px;
  position: absolute;
  top:20px;
  left:0;
  background-color: #ef7360;
  color: #fff;
  text-align: center;
  line-height: 38px;
  border-radius: 2px;
}
.login .content .redBtn:hover{
  background-color: #ED6752;
}
.login .content .redBtn span{
  font-size: 12px;
}
.login .content p.life{
  font-size: 16px;
  color: #666666;
  position: absolute;
  left:140px;
  top: 28px;
}
.login .content form .userNsme,.login .content form .pwd{
  width: 150px;
  height: 33px;
  color: #e4e4e4;
  padding-left: 10px;
  font-size: 12px;
  position: absolute;
}
.login .content form .userNsme{
  right: 270px;
  top: 20px;

}
.login .content form .pwd{
  right: 100px;
  top: 20px;

}
.login .content form .formLogin{
  width: 80px;
  height: 33px;
  background: #3ba354;
  color: #fff;
  position: absolute;
  right: 4px;
  top: 19px;
  border-radius: 2px;
  line-height: 33px;
  text-align: center;
}
.login .content form .formLogin:hover{
  background: #1c9439;
}
.login .content form div.remeber{
  position: absolute;
  top: 61px;
  right: 370px;
  color: #000;
  font-size: 12px;
}
.login .content form div.remeber span{
  padding-left: 5px;
}
.login .content form div.remeber input{
  width: 13px;
  height: 13px;
  border: 5px solid #707070;
}
.login .content form .forget{
  position: absolute;
  top: 61px;
  right: 212px;
  font-size: 12px;
}
/*登陆条结束*/
/*内容区开始*/
div.mainContent{
  width: 952px;
  height: 506px;
  margin: 40px auto 0;
}
div.mainContent .contentLeft{
  width: 352px;
  height: 100%;
  float: left;
  margin-right: 27px;
}
h2.title{
  color: #007722;
  font-size: 14px;
}
div.mainContent .contentLeft .photo{
  padding-top: 17px;
}

div.mainContent .contentLeft .photo div{
  float: left;
  width: 170px;
}
div.mainContent .contentLeft .photo div a{
  font-size: 10px;
}
div.mainContent .contentLeft .photo div span{
  font-size: 12px;
  color: #999;
}
div.mainContent .contentLeft .photo div.two,
div.mainContent .contentLeft .photo div.four{
  margin-left: 12px;
}
div.mainContent .contentCenter{
  width: 274px;
  height: 100%;
  float: left;
  margin-right: 27px;
}
div.mainContent .contentCenter ul.list{
  margin-top: 35px;
}
div.mainContent .contentCenter ul.list li{
  font-size: 12px;
  margin-bottom: 17px;
}
div.mainContent .contentCenter ul.list:first-child p.name{
  color: #999;
}
div.mainContent .contentCenter ul.list:first-child p.text{
  color: #666;
}
div.mainContent .contentRight{
  width: 262px;
  height: 100%;
  float: left;
}
div.mainContent .contentRight ul.activities{
  margin-top: 10px;
  font-size: 12px;
}
div.mainContent .contentRight ul.activities p{
  color: #999;
}
div.mainContent .contentRight ul.activities p.time{
  margin-top: 5px;
}
div.mainContent .contentRight ul.activities p.num{
  margin-top: 4px;
}
div.mainContent .contentRight ul.activities li{
  margin-bottom: 8px;
}
div.mainContent .contentRight div.picture{
  width: 241px;
  height: 92px;
  border: 1px solid #eee;
  margin-top: 20px;
  padding: 17px 6px 14px 19px;
  position: relative;
}
div.mainContent .contentRight div.picture>p{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
}
div.mainContent .contentRight div.picture>img{
  position: absolute;
}
div.mainContent .contentRight div.picture>img.tab{
  top: 14px;
  left: 107px;
}
div.mainContent .contentRight div.picture>img.rainbow{
  top: 0px;
  left: 197px;
}
div.mainContent .contentRight div.picture .picContent img,
div.mainContent .contentRight div.picture .picContent div{
  float: left;
}
div.mainContent .contentRight div.picture .picContent div{
  font-size: 12px;
  margin-left: 14px;
}
div.mainContent .contentRight div.picture .picContent div a{
  display: inline-block;
  margin-bottom: 8px;
}
div.mainContent .contentRight div.picture .picContent div p{
  color: #999;
}
/*内容区结束*/
/*广告开始*/
div.AD{
  width: 952px;
  height: 179px;
  margin: 48px auto 0px;
}
/*广告结束*/
/*电影区块开始*/
div.movie{
  width: 100%;
  height: 635px;
  background: #f7f7f7;

}
div.movieContent{
  width: 952px;
  height: 589px;
  margin: 0 auto;
  padding-top: 44px;
}
div.movieContent>div{
  float: left;
}
div.movieContent div.movieLeft{
  width: 123px;
  height: 100%;

}
div.movieContent div.movieLeft ul h2{
  font-size: 22px;
  color: #3377aa;
  margin-bottom: 22px;
}
div.movieContent div.movieLeft ul li{
  margin-bottom: 14px;
}
div.movieContent div.movieLeft .doubanMovie{
  margin-top: 30px;
}
div.movieContent div.movieLeft .doubanMovie img{
  box-shadow:1px 1px 10px #666;
}
div.movieContent div.movieCenter{
  width: 562px;
  height: 100%;
  margin-right: -11px;

}
div.movieContent div.movieCenter div.coverContent{
  margin-top: 18px;
}
div.movieContent div.movieCenter div.coverContent div.lineTwo{
  padding-top: 40px;
}
div.movieContent div.movieCenter div.coverContent div.coverBlock{
  margin-right: 35px;
  display: inline-block;
  width: 102px;
  height: 222px;
}
div.movieContent div.movieCenter div.coverContent div.coverBlock div.coverName{
  text-align: center;
  margin-top: 14px;
}
div.movieContent div.movieCenter div.coverContent div.coverBlock div.evaluation{
  margin: 10px auto 0;
  padding-left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #f97956;
}
div.movieContent div.movieCenter div.coverContent div.coverBlock div.evaluation div.star{
  width: 55px;
  height: 11px;
  display: inline-block;
  background: url("../images/midstars.gif") no-repeat 0 -45px;

}
div.movieContent div.movieCenter div.coverContent div.coverBlock a.blueBtn{
  width: 69px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  margin: 10px 16px 0;
  background: #1c8bd0;
  color: #fff;
}
div.movieContent div.movieRight{
  width: 268px;
  height: 100%;
}
div.movieContent div.movieRight div.movieCate{
  width: 240px;
  height: 170px;
}
div.movieContent div.movieRight div.movieCate ul{
  margin-top: 21px;
  margin-bottom: 38px;
}
div.movieContent div.movieRight div.movieCate ul li{
  width: 48px;
  height: 13px;
  line-height: 13px;
  float: left;
  font-size: 13px;
  margin-bottom: 12px;
}
div.movieContent div.movieRight div.hot{

}
div.movieContent div.movieRight div.hot ol{
  margin-top: 20px;
}
div.movieContent div.movieRight div.hot ol li{
  height: 31px;
  line-height: 31px;
  border-bottom: 1px solid rgba(234,234,234,0.7);
}

/*电影区块结束*/
/*版权开始*/
div.hr{
  width: 952px;
  border-top: 2px dashed rgba(234,234,234,1);
  margin: 40px auto 16px;
}
div.footer{
  width: 952px;
  height: 100px;
  margin: 0 auto;
}
div.footer div.record{
  float: left;
  font-size: 12px;
  color: rgba(200,200,200,1);
}
div.footer div.more{
  float: right;
}
div.footer div.more ul{

}
div.footer div.more ul li{
  float: left;
  margin-left: 15px;
}
/*版权结束*/